
    <!-- Start Card -->

<div class="transition-colors group max-w-sm p-6 bg-white border border-gray-200 rounded-lg
            hover:bg-blue-300 hover:dark:bg-blue-700
            focus:ring-4 shadow-sm dark:bg-gray-800 dark:border-gray-700 mx-auto">
    <!-- Media (Img & Video)-->
    <a class="relative block overflow-hidden">
        <!-- Image -->
        <img 
        class="h-auto max-w-full {% if game.trailer_url and game.trailer_url|string != 'nan' %}group-hover:opacity-0{% endif %} transition-opacity duration-300" 
        src="{{ game.header_image }}">

        <!-- Video -->
        <video
            preload="none"
            class="absolute top-0 left-0 w-full h-full object-cover opacity-0 {% if game.trailer_url and game.trailer_url|string != 'nan' %}group-hover:opacity-100 cursor-pointer {% endif %} transition-opacity duration-300"
            loop controls muted
            >
        <source 
        src="{{ game.trailer_url }}" 
        type="video/webm">
        Your browser does not support the video tag.
        </video>

    </a>
        <!-- Game Title and Heart -->
    <a>
        <div class="flex items-center">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white transition-colors">{{ game.name }}</h5>

        {% if game.get('similarity') is none %}
        <div class="ml-auto flex items-center">
        <input id="heartbox-{{ game.appid }}" type="checkbox" value="{{ game['appid'] }}" name="selected_games" class="favorite-checkbox sr-only peer" onchange="updateItemStatus(this)"
        {% if game['appid'] in selected %}checked{% endif %}>
        <label for="heartbox-{{ game.appid }}" class="cursor-pointer select-none inline-flex peer-checked:text-red-600
            peer-checked:dark:text-red-600 py-4 ms-2 text-2xl font-extrabold
            text-gray-500 dark:text-gray-300 hover:text-red-400 dark:hover:text-red-400 transition-colors">

            ❤︎

        </label>
        </div>
        {% endif %}
        
        </div>
    </a>
        <!-- Game Descirption -->
    <a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 transition-colors">{{ game.short_description }}
        </p>
    </a>
    {% if game.get('similarity') is not none %}
    <a>
        <p class="mb-3 font-normal transition-colors">
        Similarity:
        <span class="similarity_score transition-colors">
            {{ (game.get('similarity')*100)|round(1) }}%
        </span>
        </p>
    </a>
    {% endif %}
        <!-- Start Steam Store Button-->
    <a href="https://store.steampowered.com/app/{{ game.appid }}" 
        target="_blank"
        rel="noopener noreferrer"
        class="cursor-pointer text-white bg-[#3b5998] hover:bg-[#3b5998]/90 focus:ring-4 focus:outline-none
        focus:ring-[#3b5998]/50 font-medium rounded-lg
        text-sm px-5 py-2.5 text-center inline-flex items-center
        dark:focus:ring-[#3b5998]/55 me-2 mb-2 transition-colors">
        <!-- Steam Store SVG -->
    <img class="w-4 h-4 me-2"
        src = "{{ url_for('static', filename='media/Steam_icon_logo.svg') }}">

    View on Steam

    </a>
    
        <!-- End Steam Store Button -->
</div>